@model SoulSocks.Models.SockMaterialViewModel

@{
    ViewData["Title"] = "Index";
}
<div style="background-color:azure;">
<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Socks" asp-action="Index" method="get">
    <p>
        <select asp-for="SockMaterial" asp-items="Model.Material">
            <option value="">All</option>
        </select>

        Brand: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Socks[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socks[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socks[0].Length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socks[0].Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socks[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Socks[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Socks)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Length)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
    </div>
